<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/assets/css/products.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <h1>Logo</h1>
            <ul>
                <li><a href="#monitors">Monitors</a></li>
                <li><a href="#keyboards">Keyboards</a></li>
                <li><a href="#headset">Headset</a></li>
                <li><a href="#mice">Mice</a></li>
            </ul>
            <a href="#" id="contact-nav"><button>Contact</button></a>
        </nav>
    </header>

    {{!-- <section>
        <h1>Monitors</h1>

        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <img src="https://i.redd.it/pft4ldryozm51.jpg" alt="">
                </div>
                <div class="product-info">
                    <p class="product-short-des">{{product description}} here..</p>
                    <span class="price">$$</span>
                </div>
                <div class="mt-6 flex justify-center">
                    <button class="cta" id="checkout">
                        <a href="/checkouts">
                            <span class="hover-underline-animation">Shop now</span>
                            <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg"
                                id="arrow-horizontal">
                            </svg>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section> --}}


    {{!-- Monitors card --}}
    <h1 id="monitors">Monitors</h1>
    <div style="display: flex; flex-wrap: wrap;">
    {{#each monitors as |monitor|}}
    <div class="product-container">
        <div class="product-card">
            <div class="product-image">
                <img src="{{monitor.image_url}}">
            </div>
            <div class="product-nfo">
                <p class="product-short-des">
                    {{monitor.description}}
                </p>
                <span class="price">{{monitor.price}}$</span>
            </div>
            <div class="mt-6 flex justify-center">
                <button class="cta" id="checkout">
                    <a href="/checkouts">
                        <span class="hover-underline-animation">Shop now</span>
                        <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg"
                            id="arrow-horizontal">
                        </svg>
                    </a>
                </button>
            </div>
        </div>
    </div>
    {{/each}}
    </div>


    {{!-- Keyboards card --}}
    <h1 id="keyboards">Keyboards</h1>
    <div style="display: flex; flex-wrap: wrap;">
        {{#each keyboards as |keyboard|}}
        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <img src="{{keyboard.image_url}}">
                </div>
                <div class="product-nfo">
                    <p class="product-short-des">
                        {{keyboard.description}}
                    </p>
                    <span class="price">{{keyboard.price}}$</span>
                </div>
                <div class="mt-6 flex justify-center">
                    <button class="cta" id="checkout">
                        <a href="/checkouts">
                            <span class="hover-underline-animation">Shop now</span>
                            <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg"
                                id="arrow-horizontal">
                            </svg>
                        </a>
                    </button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    {{!-- Headset card --}}
    <h1 id="headset">Headsets</h1>
    <div style="display: flex; flex-wrap: wrap;">
        {{#each headsets as |headset|}}
        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <img src="{{headset.image_url}}">
                </div>
                <div class="product-nfo">
                    <p class="product-short-des">
                        {{headset.description}}
                    </p>
                    <span class="price">{{headset.price}}$</span>
                </div>
                <div class="mt-6 flex justify-center">
                    <button class="cta" id="checkout">
                        <a href="/checkouts">
                            <span class="hover-underline-animation">Shop now</span>
                            <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg"
                                id="arrow-horizontal">
                            </svg>
                        </a>
                    </button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    {{!-- Mouse card --}}
    <h1 id="mice">Mouse</h1>
    <div style="display: flex; flex-wrap: wrap;">
        {{#each mouse as |mice|}}
        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <img src="{{mice.image_url}}">
                </div>
                <div class="product-nfo">
                    <p class="product-short-des">
                        {{mice.description}}
                    </p>
                    <span class="price">{{mice.price}}$</span>
                </div>
                <div class="mt-6 flex justify-center">
                    <button class="cta" id="checkout">
                        <a href="/checkouts">
                            <span class="hover-underline-animation">Shop now</span>
                            <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg"
                                id="arrow-horizontal">
                            </svg>
                        </a>
                    </button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>


</body>


</html>